
header{
    background-color: aqua;
    height: 850px;
    background-image: url(images/gunsNroses.jpg);
   background-size: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.h1Hearder{
    font-size: 100px;
    color: aliceblue;
    
}
.section-1{
    display: flex;
    background-color: #0d4a6d;
    padding: 10px;
}
.contenedores{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.contenedor1{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    border-radius: 10px;
    
    
}
.img1{
width: 300px;
height: 250px;
border-radius: 10px 10px 0px 0px;
}

.img3{
    
height: 200px;
border-radius: 10px 10px 0px 0px;
}

.p-contenedor1{
    font-size: 15px;
}

.H2-CONTENEDOR1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: #0d4a6d;
    border-radius: 0px 0px 10px 10px;
}
.H2-CONTENEDOR3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: #0d4a6d;
    border-radius: 0px 0px 10px 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 100px;
}


@media (max-width: 480px) {

header{
    height: 250px;
}
.h1Hearder{
    font-size: 20px;
    color: aliceblue;
    
}

.contenedores{
    
    margin-top: 30px;
    height: 1000px;
    flex-direction: column;
}

.section-1{
   height: 500px;
   padding: 20px;
}

footer{
   
    height: 100px;
}
}